
#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=True
Type=Application
Exec=/home/artiv/artiv_watchDog/start.sh
Icon=/home/artiv/artiv_watchDog/icon.ico
Name[en_US]=watchDog
